<!--This file will display the categories as per the specific user-->
<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Yummy Recipes</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user">{{ session['user'] }}</span></a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>

	<div class="col-sm-offset-3">
		<div class="col-sm-9">
			<div class="panel panel-default">
				<div class="pane panel-heading">Categories</div>	
				<div class="panel panel-body">
					<i><h4>{{ session['user'] }} create categories for your recipes. </h4></i>
					<hr>
					<div class="alert alert-{{ alerttype }}">{{ message }}</div>
					<form method="POST" action="/create_category">
						<div class="row">
							<div class="form-group col-sm-8">
								<input type="hidden" name="cat_owner" value="{{ session['email'] }}" class="form-control" placeholder="Category owner" hidden>
								<input type="text" name="cat_name" class="form-control" placeholder="Category Name" required>
							</div>
							<div class="form-group col-sm-4">
								<button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Create Category</button>
							</div>
						</div>
					</form>
					<hr>
					<i><h4>View all categories under ownership {{ session['user'] }}</h4></i>
					<hr>
					<div class="form-group col-sm-12">
						<table class="table table-stripped">
							<thead>
								<tr>
									<th>Category Name</th>
									<th>View</th>
									<th>Update</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								{% if category_details == None %}
								no data
								{% else %}
								{% for myCategories in category_details %}
								<tr>
									<td>{{ myCategories[0] }}</td>
									<td><a href="/recipes/{{ myCategories[0] }}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
									<td><a href="#edit_category{{ myCategories[0].replace(' ','' ) }}" role="button" data-toggle="modal" class="btn btn-default data"><i class="glyphicon glyphicon-pencil"></i></a></td>

                                    <td><a href="/delete_category/{{ myCategories[0] }}"><i class="glyphicon glyphicon-remove"></i></a></td>
								</tr>
								<!-- Modal -->
								<div class="modal fade" id="edit_category{{ myCategories[0].replace(' ','' ) }}" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
									<div class="modal-dialog">
										<!-- Content of modal-->
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close"
												data-dismiss="modal">
												<span aria-hidden="true">&times;</span>
												<span class="sr-only">Close</span>
											</button>
											<h4 class="modal-title" id="modal_label">Edit Category ({{ myCategories[0] }})</h4>
										</div>
										<!-- Modal Body -->
										<div class="modal-body">
											<form action="/edit_category" method="POST">
												<div class="form-group">
                                                    <input type="hidden" name="current_category_name" class="form-control" value="{{ myCategories[0] }}" hidden>
													<input type="text" name="category_name" class="form-control" placeholder="category name ({{ myCategories[0] }})">
												</div>
												<!-- Modal Footer -->
												<div class="modal-footer">
													<button type="submit" class="btn btn-default">Edit Category name</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
   <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>