<!DOCTYPE html>
<html>
<head>
	<title>Landing Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Yummy Recipes</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/register"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
				<li><a href="dashboard.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="col-sm-offset-3">
	<div class="col-3">
		
<span style="font-size: 40em;" class="glyphicon glyphicon-cutlery"></span>

	</div>
		
	</div>
</body>
</html>