<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Yummy Recipes</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>
	<div class="col-sm-offset-3">
		<div class="col-sm-6">
			<div class="panel panel-default">
			<div class="pane panel-heading"><i class="glyphicon glyphicon-plus"></i> Create Account</div>	
				<div class="panel panel-body">
					<div>
						<form>
							<div class="row">
								<div class="form-group col-sm-12">
									<input type="text" class="form-control" placeholder="Username">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12">
									<input type="text" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12">
									<input type="password" class="form-control" placeholder="Password">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12">
									<input type="password" class="form-control" placeholder="Confirm Password">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12">
									<button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Register</button>
								</div>
							</div>
						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>